<html>
    <head>
        <title>Login</title>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'/>
        <style>
            .error{
                color: red;
                list-style-type: none; 
            }
        </style>
    </head>
    <body>
        <div class='container' style='padding:1em'>
            <div class='row'>
                <div class='three columns'><p></p></div>
                <div class='six columns'>
                    <form action="{% url 'login:auth'%}" method='POST'>
                        {%csrf_token%}
                        <h1>Login</h1>
                        {{form}}
                        <div class='twelve columns'>
                            <input class='button-primary' type='submit' value='Login User'>      
                        </div> 
                    </form>     
                    <div class='twelve columns'>
                        <h4>Not a member yet? <a href="{% url 'login:sign_up'%}">Sign Up!</a></h4>
                    </div>
                    <div class='twelve columns'>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>