<html>
    <head>
        <title>Welcome</title>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'/>
    </head>
    <body>
        <div class='container' style='padding:1em'>
            <div class='row'>
                <div class='three columns'><p></p></div>
                <div class='six columns'>
                    <h1>Welcome {{name}}!</h1>
                    <p>You succesfully logged in!</p>
                    <a href="{% url 'login:logout'%}">Logout</a>                        
                </div>
            </div>
        </div>
    </body>
</html>