<html>
    <head>
        <title>Splash Welcome</title>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'/>
        <style>
            #header{
                background-color: lightgrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 25px;
            }
        </style>
    </head>
    <body>
        <div class='container' style='padding:1em'>          
            <div class='row'>
                <div class='six columns'>
                    <form action="{% url 'dressing:get_or_create_article' %}" method="post">
                        {%csrf_token%}
                    <h4>Choose an Article to Annotate</h4>
                    <select name="url">
                            {% for page in pages %}
                                <option value="{{ page.url }}">{{ page.heading }}</option>
                            {% endfor %}
                    </select>
                    <input class='button-primary' type='submit' value='Choose Article'> 
                </form>
                </div>
                <div class='six columns'>
                    <h4>Synopsis of Site Functionality</h4>      
                    <p>***REMOVED***</p>                  
                </div>
            </div>
        </div>
    </body>
</html>