<html>
    <head>
        <title>Splash Welcome</title>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'/>
        <link rel='import' href='https://www.google.com'>
        <style>
            #header{
                background-color: lightgrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 25px;
            }
            #annotation_container{
                border: 2px black grey;
            }
        </style>
    </head>
    <body>
        <div class='container' style='padding:1em'>          
            <div class='row'>
                <div class='three columns' id='annotation_container'>
                    CONTAIN ANNOTATE
                    <!-- for each annotation on show annotation & answers -->
                </div>
                <div class='eight columns'>
                    <h4>browser here ---></h4>
                    <!-- locked browser in eight column position       -->
                </div>
            </div>
        </div>
    </body>
</html>