#header{
    background-color: lightgrey;
    border-radius: 0.375em;
    padding: 0.635em;
    margin-bottom: 1.563em;
}
#nav {
    margin: 0.813em 0 0 2.47em;
    }

#nav ul li {
    display: inline;
    margin: 0 1.25em 0 0;
    margin-bottom: 8.125em;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}
#annotation_container{
    border: 0.125em black grey;
}
button.accordion {

color: #444;
cursor: pointer;
width: 100%;
border: none;
text-align: center;
outline: none;
font-size: 80%;
transition: 0.4s;
overflow-x: hidden;
padding: 0 0 0 0;
}
.Question {
    background-color: rgb(253, 77, 77);
}
.Translation{
    background-color: rgb(113, 113, 255);
}
button.accordion.active, button.accordion:hover {
color: rgb(207, 245, 69);            
}
div.panel {
padding: 0 30px;
display: none;
background-color: white;
}
